@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: 'Roboto Regular';
  background-color: #f7f7f7;
  color: #000;
  font-size: 16px;
  width: 100%;
  overflow-x: hidden;
}
main {
  overflow: hidden;
}
.logo {
  display: block;
  width: 162px;
  max-width: 100%;
  margin-bottom: 20px;
}
.logo img {
  width: 100%;
  display: block;
}
.menu {
  background-color: white;
  width: 100%;
  min-height: 60px;
  padding: 10px 10px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.14);
}
.menu ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  float: left;
}
.menu ul li a {
  font-family: 'Roboto Regular';
  color: #6b2077;
  text-align: center;
  font-size: 15px;
  padding: 10px 12px;
}
.menu .navbar-toggler {
  background-color: #e63888;
  width: 36px;
  height: 36px;
  border-radius: 8px;
  color: white;
  padding: 0px;
  margin: 0px;
  outline: transparent;
  margin: 10px -12px;
}
.menu .dropdown-toggle:after {
  content: none;
}
.menu .dropdown-menu {
  width: 180px;
  border: none;
  border-top: 2px solid #6d207d;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 15px;
  text-align: left;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
}
.menu .dropdown-menu a {
  font-size: 13px;
  text-align: left;
  width: 100%;
  display: block;
  padding: 4px 4px;
  color: #000;
}
.menu .dropdown-menu a:hover {
  text-decoration: none;
}
.menu .btn-entrar {
  background-color: #1d4f91;
  font-family: 'Roboto Bold';
  color: white;
  border-radius: 8px;
  width: 120px;
  height: 38px;
  font-size: 15px;
  padding: 6px 4px;
  text-align: center;
  border: none;
  outline: transparent;
  margin: 10px;
}
h1 {
  font-family: 'Roboto Black';
  color: #e63888;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 16px;
}
h2 {
  font-family: 'Roboto Bold';
  color: #000;
  font-size: 15px;
  margin-bottom: 16px;
}
h3 {
  font-family: 'Roboto Regular';
  font-size: 15px;
  margin-bottom: 0px;
}
.bg-dashboard {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0px 0px 0px;
  top: 42px;
  right: -80px;
}
.bg-dashboard img {
  width: 130%;
}
ul {
  margin: 12px 0px;
  padding: 0px 24px;
}
ul li {
  list-style: none;
  font-size: 14px;
}
ul li p {
  margin-bottom: 0px;
}
.lista-azul h3 {
  color: #1d4f91;
}
.lista-azul li {
  list-style-image: url('../img/icon-bullet-check-azul@2x.png');
}
.lista-rosa {
  margin-bottom: 42px;
}
.lista-rosa h3 {
  color: #e63888;
}
.lista-rosa li {
  list-style-image: url('../img/icon_bullet-check@2x.png');
}
.box-assinatura {
  background: #6d2077;
  background: -moz-linear-gradient(left, #6d2077 0%, #6d2077 33%, #1e4d90 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #6d2077), color-stop(33%, #6d2077), color-stop(100%, #1e4d90));
  background: -webkit-linear-gradient(left, #6d2077 0%, #6d2077 33%, #1e4d90 100%);
  background: -o-linear-gradient(left, #6d2077 0%, #6d2077 33%, #1e4d90 100%);
  background: -ms-linear-gradient(left, #6d2077 0%, #6d2077 33%, #1e4d90 100%);
  background: linear-gradient(to right, #6d2077 0%, #6d2077 33%, #1e4d90 100%);
  width: 100%;
  height: 140px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  padding: 48px 10px 20px;
}
.box-assinatura h4 {
  font-family: 'Roboto Black';
  font-size: 40px;
  display: inline-block;
}
.box-assinatura h4 span {
  color: #e63888;
}
.btn-assinar {
  background-color: #e63888;
  font-family: 'Roboto Bold';
  color: white;
  display: inline-block;
  position: relative;
  width: 100%;
  width: 290px;
  height: 42px;
  font-size: 15px;
  border-radius: 6px;
  float: right;
  padding: 10px 10px;
  margin: 5px 0px 0px;
  text-decoration: none;
}
.btn-assinar:hover {
  color: #fff;
  text-decoration: none;
}
footer nav {
  border-bottom: 1px solid #ccc;
}
footer nav ul {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
footer nav ul li {
  list-style: none;
  padding: 10px 15px 12px;
  display: inline-block;
}
footer nav ul li a {
  font-family: 'Roboto Regular';
  color: #1d4f91;
  font-size: 14px;
}
footer nav ul li a:hover {
  text-decoration: none;
  color: #6b2077;
}
footer h4 {
  font-family: 'Roboto Regular';
  color: #000;
  font-size: 14px;
  text-align: left;
  line-height: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer small {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 13px;
  color: #000;
  border-top: 1px solid #ccc;
  padding: 30px 0px;
}
@media (max-width: 992px) {
  .menu ul li {
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 12px;
  }
}
@media (max-width: 767px) {
  .bg-dashboard {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 20px auto 0px;
    top: 40px;
    left: 20px;
    float: left;
  }
  .bg-dashboard img {
    display: block;
    width: 100%;
  }
  .box-assinatura {
    height: auto;
  }
  .box-assinatura h4 {
    font-size: 28px;
    text-align: center;
  }
  .box-assinatura .btn-assinar {
    display: block;
    float: none;
    margin: 10px auto;
  }
  footer nav ul li {
    display: block;
    width: 620px;
    position: relative;
    text-align: center;
    float: left;
    padding: 20px 0px 20px;
  }
}
