@import url(vars.less);

body {
	font-family: @roboto-regular;
	background-color: #f7f7f7;
	color: #000;
	font-size: 16px;
	width: 100%;
	overflow-x: hidden;
}
main{
	overflow: hidden;
}
.logo {
	display: block;
	width: 162px;
	max-width: 100%;
	margin-bottom: 20px;
	img{
		width: 100%;
		display: block;
	}
}

.menu {
	background-color: white;
	width: 100%;
    min-height: 60px;
    padding: 10px 10px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.14);
	ul {
		padding: 0px;
		margin: 0px;
		width: 100%;
		li {
			display: inline-block;
			float: left;
			a {
				font-family: @roboto-regular;
				color: @roxo;
				text-align: center;
			    font-size: 15px;
			    padding: 10px 12px;
			}
		}
	}
	.navbar-toggler {
		background-color: @rosa;
		width: 36px;
	    height: 36px;
	    border-radius: 8px;
	    color: white;
	    padding: 0px;
	    margin: 0px;
	    outline: transparent;
	    margin: 10px -12px;
	}
	.dropdown-toggle {
		&:after {
			content: none;
		}
	}
	.dropdown-menu{
		width: 180px;
	    border: none;
	    border-top: 2px solid #6d207d;
	    border-radius: 6px;
	    padding: 10px 12px;
	    font-size: 15px;
	    text-align: left;
	    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);
	    a {
	    	font-size: 13px;
		    text-align: left;
		    width: 100%;
		    display: block;
		    padding: 4px 4px;
		    color: #000;
		    &:hover{
		    	text-decoration: none;
		    }
	    }
	}
	.btn-entrar {
		background-color: @azul-escuro;
		font-family: @roboto-bold;	
		color: white;
		border-radius: 8px;
	    width: 120px;
	    height: 38px;
	    font-size: 15px;
	    padding: 6px 4px;
	    text-align: center;
	    border: none;
	    outline: transparent;
	    margin: 10px;
	}
}
h1 {
	font-family: @roboto-black;
	color: @rosa;
	font-size: 40px;
    margin-top: 30px;
    margin-bottom: 16px;
}
h2 {
	font-family: @roboto-bold;
	color: #000;
	font-size: 15px;
    margin-bottom: 16px;
}
h3 {
	font-family: @roboto-regular;
	font-size: 15px;
    margin-bottom: 0px;
}
.bg-dashboard {
	    width: 100%;
    position: relative;
    overflow: hidden;
    margin: 0px 0px 0px;
    top: 42px;
    right: -80px;
    img {
    	width: 130%;
    }
}

ul {
	margin: 12px 0px;
    padding: 0px 24px;
	li {
		list-style: none;
		font-size: 14px;
		p{
			margin-bottom: 0px;
		}
	}
}
.lista-azul {
	h3{
		color: @azul-escuro;
	}
	li {
		list-style-image: url('../img/icon-bullet-check-azul@2x.png');
	}	
}
.lista-rosa {
	    margin-bottom: 42px;
	h3{
		color: @rosa;
	}
	li {
		list-style-image: url('../img/icon_bullet-check@2x.png');
	}	
}
.box-assinatura {
	background: rgba(109,32,119,1);
	background: -moz-linear-gradient(left, rgba(109,32,119,1) 0%, rgba(109,32,119,1) 33%, rgba(30,77,144,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(109,32,119,1)), color-stop(33%, rgba(109,32,119,1)), color-stop(100%, rgba(30,77,144,1)));
	background: -webkit-linear-gradient(left, rgba(109,32,119,1) 0%, rgba(109,32,119,1) 33%, rgba(30,77,144,1) 100%);
	background: -o-linear-gradient(left, rgba(109,32,119,1) 0%, rgba(109,32,119,1) 33%, rgba(30,77,144,1) 100%);
	background: -ms-linear-gradient(left, rgba(109,32,119,1) 0%, rgba(109,32,119,1) 33%, rgba(30,77,144,1) 100%);
	background: linear-gradient(to right, rgba(109,32,119,1) 0%, rgba(109,32,119,1) 33%, rgba(30,77,144,1) 100%);
	width: 100%;
    height: 140px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    padding: 48px 10px 20px;
    h4 {
    	font-family: @roboto-black;
        font-size: 40px;
	    display: inline-block;
    	span {
    		color: @rosa;
    	}
    }
}
.btn-assinar {
	background-color: @rosa;
	font-family: @roboto-bold;
	color: white;
    display: inline-block;
    position: relative;
    width: 100%;
    width: 290px;
    height: 42px;
    font-size: 15px;
    border-radius: 6px;
    float: right;
    padding: 10px 10px;
    margin: 5px 0px 0px;
    text-decoration: none;
    &:hover {
    	color: #fff;
    	text-decoration: none;
    }
}
footer{
	nav{
		border-bottom: 1px solid #ccc;
		ul{
			padding: 0px;
			margin: 0px;
			width: 100%;
			li{
				list-style: none;
				padding: 10px 15px 12px;
				display: inline-block;
				a{
					font-family: @roboto-regular;
					color: @azul-escuro;
					font-size: 14px;
					&:hover{
						text-decoration: none;
						color: @roxo;
					}
				}
			}
		}
	}
	h4{
		font-family: @roboto-regular;
		color: #000;
		font-size: 14px;
	    text-align: left;
	    line-height: 22px;
	    margin-top: 20px;
	    margin-bottom: 20px;
	}
	small {
		display: block;
	    width: 100%;
	    text-align: center;
	    font-size: 13px;
	    color: #000;
	    border-top: 1px solid #ccc;
	    padding: 30px 0px;
	}
}

//===== Media ======//
@media (max-width: 992px){
	.menu{
		ul{
			li{
				width: 100%;
				display: block;
				float: left;
				margin-bottom: 12px;
			}
		}
	}
}
@media (max-width: 767px){
	.bg-dashboard {
		width: 100%;
	    position: relative;
	    overflow: hidden;
	    margin: 20px auto 0px;
	    top: 40px;
	    left: 20px;
	    float: left;
	    img{
	    	display: block;
	    	width: 100%;
	    }
	}
	.box-assinatura {
		height: auto;
		h4 {
			font-size: 28px;
    		text-align: center;
		}
		.btn-assinar {
			display: block;
		    float: none;
		    margin: 10px auto;
		}
	}
	footer{
		nav{
			ul{
				li{
					display: block;
				    width: 620px;
				    position: relative;
				    text-align: center;
				    float: left;
				    padding: 20px 0px 20px;
				}
			}
		}
	}
}