@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

//Tipografia
@roboto-black: 'Roboto Black';
@roboto-bold: 'Roboto Bold';
@roboto-regular: 'Roboto Regular';

//Cores
@roxo: #6b2077;
@rosa: #e63888;
@azul-escuro: #1d4f91;
